<div class="mdl-tabs__panel is-active" id="about-panel">
    <form action="#">
    <div class="mdl-grid">
    <!-- 表頭 -->
	  <div class="mdl-cell mdl-cell--6-col">
	  	  <label class="mdl-button mdl-js-button mdl-button--icon" for="dp1">
	      	<i class="material-icons">today</i>
	      </label>
		  <div class="mdl-textfield mdl-js-textfield">
		    <input class="mdl-textfield__input" type="date" id="dp1" ng-model="m.today"/>
		    <label class="mdl-textfield__label" for="dp1"></label>
		  </div>
	  </div>

	   <div class="mdl-cell mdl-cell--4-col">
		  <h3 class="mdl-typography--text-right"><small>工時總計</small> <span ng-bind="m.totalHours"></span> <small>hr</small></h3>
	  </div>
	  <div class="mdl-cell mdl-cell--2-col">
		<h3><button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" ng-click="m.sendWork()" type="button"><i class="material-icons">flight_takeoff</i>&nbsp;&nbsp;Send&nbsp;!&nbsp;</button></h3>
	  </div>
	
	 </div>
	 <!-- 表單內容 -->
	 <div class="i-list-header mdl-grid">
	  	<div class="mdl-cell mdl-cell--1-col mdl-typography--text-center">
			#
	  	</div>
	  	<div class="mdl-cell mdl-cell--2-col">
			專案
	  	</div>
	  	<div class="mdl-cell mdl-cell--2-col mdl-typography--text-center">
			工時
	  	</div>
	  	<div class="mdl-cell mdl-cell--7-col">
			工作說明
	  	</div>
	 </div>
	
	 <%= partial "partials/_listItem.html.erb"%>

	<div class="mdl-grid">
		<h5 class="mdl-cell mdl-cell--12-col">&nbsp;工作日誌收件者&nbsp;&nbsp;
			<div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
		    <label class="mdl-button mdl-js-button mdl-button--icon" for="sample6">
		      <i class="material-icons">search</i>
		    </label>
		    <div class="mdl-textfield__expandable-holder">
		      <input class="mdl-textfield__input" type="text" id="sample6" ng-model="m.searchPeople"/>
		      <label class="mdl-textfield__label" for="sample-expandable">Expandable Input</label>
		    </div>
		  </div>
		 </h5>

		<label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect mdl-cell mdl-cell--3-col" for="checkbox-{{$index}}" ng-repeat="rcvr in m.receivers | filter:m.searchPeople">
		  <input type="checkbox" id="checkbox-{{$index}}" class="mdl-checkbox__input" ng-model="rcvr.isSend" ng-checked="rcvr.isSend" ng-change="m.getSendWho(rcvr)"/>
		  <span class="mdl-checkbox__label" ng-bind="rcvr.rName"> </span>
		</label>
	</div>
	 

	 <!-- 表單內容 -->

	</form>

</div>