<div class="mdl-tabs__panel" id="albums-panel">
    <div class="mdl-grid">
      <p class="mdl-cell mdl-cell--12-col">
        各位同仁大家好：<br>
        為了讓大家能夠即時更新執行專案的狀態，提供讓大家自行設定工作日誌專案的功能 <br>
        如果各位在填寫時有遇到什麼問題，或是專案未在列表中請來信告知，謝謝！！<br>
      </p>
      <h4 class="mdl-cell mdl-cell--12-col">常用專案</h4>

      <div class="mdl-cell mdl-cell--3-col" ng-repeat="myPjt in m.project" ng-if="myPjt.isMy">
        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect i-checkbox-defH" for="checkbox-project-{{$index}}">
          <input type="checkbox" id="checkbox-project-{{$index}}" class="mdl-checkbox__input" checked disabled/>
          <span class="mdl-checkbox__label"> {{myPjt.pName}}<br>負責人：{{myPjt.pOwner}} </span>
        </label>
      </div>

      <h4 class="mdl-cell mdl-cell--12-col">其他專案</h4>
      
      
      <div class="mdl-cell mdl-cell--3-col" ng-repeat="Pjt in m.project" ng-if="!Pjt.isMy">
        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect i-checkbox-defH" for="checkbox-project-{{$index}}">
          <input type="checkbox" id="checkbox-project-{{$index}}" class="mdl-checkbox__input" ng-model="Pjt.isMy"/>
          <span class="mdl-checkbox__label"> {{Pjt.pName}}<br>負責人：{{Pjt.pOwner}} </span>
        </label>
      </div>
      
    </div>
</div>